@model Sesamit.Models.HomeViewModels.NyheterBloggViewModel

@{
    ViewData["Title"] = "Blogg";
}
<header class="top-page-header text-center" id="blogg-nyheter-header">

    <div class="container">
        <i class="fa fa-newspaper-o fa-5x"></i>
        <h1>Nyheter & Blogg</h1>

        <div id="nyheter-blogg-menu">
            <div class="col-md-1 hidden-xs"></div>
            <div class="col-md-10 ">

                <div class="row">

                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#nyheter" aria-controls="om" role="tab" data-toggle="tab">
                                <h5>
                                    Senaste nytt
                                </h5>
                            </a>
                        </li>
                        <li role="presentation">
                            <a href="#blogg" aria-controls="mat" role="tab" data-toggle="tab">
                                <h5>
                                    Bloggen
                                </h5>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-md-1 hidden-xs"></div>

        </div>
    </div>

</header>
<section id="section-blogg">
    <div class="container">
        <div class="col-md-12">
            <div class="tab-content">
                <!-- Nyheter -->
                <div role="tabpanel" class="tab-pane active" id="nyheter">


                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div style="width: 100%;" class="fb-page" data-href="https://www.facebook.com/Sesamit/" data-tabs="timeline" data-width="500" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/Sesamit/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Sesamit/">Sesam</a></blockquote></div>

                        </div>
                    </div>

                    @*@foreach (var newsPost in Model.NewsPosts)
                        {
                            var index = Model.NewsPosts.FindIndex(x => x == newsPost);
                            var panelBorder = "";
                            //if (index % 2 == 0)
                            //{
                            //    panelBorder = "border-left-panel";
                            //}
                            //else
                            //{
                            //    panelBorder = "border-right-panel";
                            //}
                            <div class="row">
                                <div class="panel panel-default @panelBorder">
                                    <div class="panel-body">
                                        <h3>
                                            @newsPost.Title
                                            <small>
                                                <span class="text-capitalize pull-right">Nyhet</span>
                                                (@newsPost.Date.ToString("MM/dd/yyyy"))
                                            </small>
                                        </h3>
                                                    <p class="row-padding">
                                                        @Html.Raw(newsPost.Text.ToString())
                                                    </p>
                                        <p >
                                                Skriven av
                                                @newsPost.Author
                                        </p>

                                    </div>
                                </div>
                            </div>
                        }*@
                </div>
                <div role="tabpanel" class="tab-pane " id="blogg">
                    <div class="row">
                        <div class="col-md-7">

                            @foreach (var bloggPost in Model.BloggPosts)
                            {
                                var index = Model.BloggPosts.FindIndex(x => x == bloggPost);
                                var panelBorder = "";
                                //if (index % 2 == 0)
                                //{
                                //    panelBorder = "border-left-panel";
                                //}
                                //else
                                //{
                                //    panelBorder = "border-right-panel";
                                //}
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <h3>
                                            @bloggPost.Title
                                            <small>
                                                @bloggPost.TimePast.Days dagar, @bloggPost.TimePast.Hours timmar sedan.
                                                <span class="text-capitalize pull-right">Blogginlägg</span>
                                            </small>
                                        </h3>
                                        <p>@Html.Raw(bloggPost.Description.ToString())</p>

                                        @if (bloggPost.ImageLink != null)
                                        {
                                            <img class="img-responsive img-rounded center-block" src="@bloggPost.ImageLink.ToString()"/>
                                        }
                                        <h3>
                                            <a class="btn btn-success" href="@bloggPost.Link">Läs mer här!</a>
                                        </h3>
                                    </div>
                                </div>
                            }
                        </div>
                        <div class="col-md-5">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div style="width: 100%;" class="fb-page" data-href="https://www.facebook.com/Sesamit/" data-tabs="timeline" data-width="400" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/Sesamit/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Sesamit/">Sesam</a></blockquote></div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
